<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs309android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS309Android">
        <activity
            android:name=".activities.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AccountEditActivity"
            android:exported="false" />
        <activity
            android:name=".activities.recipe.AddRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.food.CustomFoodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.food.FoodDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_food_search"
            android:launchMode="singleTop"
            android:theme="@style/Theme.CS309Android" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>